{% extends 'layout.html.twig' %}

{% block title %}
	{{ parent() }}
{% endblock %}

{% block stylesheets %}
	{{ encore_entry_link_tags('home') }}
	<style>

	.box-card {
		overflow: hidden;
	}

	.box-card .img-card {
		transition: all 1s ease;
	}

	.box-card .img-card:hover {
		transform: scale(1.15);
	}
	</style>
{% endblock %}

{% block body %}
	<section class="background-home">
		<div class="background-first-image"></div>
		<div class="text-on-background w-100 text-center text-light">
			<h1 class="h2">Accompagnements aux évènements
				<br>
				pour les femmes</h1>
			<p>
				Paris | Hong Kong | New York
			</p>
		</div>
		<div class="btn-on-background w-100 text-center">
			<a href="{{ path('contact') }}" class="btn btn-lg btn-primary p-3">Nous contacter</a>
		</div>
	</section>

	<section class="section2 py-5 px-3">
		<div class="container p-0">
			<h2 class="text-center mb-3">
				Un
				<span class="text-primary">wilfer</span>, est un gentleman
				<br>
				traitant les femmes commes des reines
			</h2>
			<p class="text-center m-0">
				Autrement dit, un ange envoyé et formé par l’école de la vie, la Wild Code School, pour rendre la vie
				des femmes aussi belle qu’elles le sont.
			</p>
		</div>
	</section>

	<section class="section3">
		<div class="clipath"></div>
		<div class="container">
			<h2 class="text-center pt-5 pb-3 m-0">
				Nos services et évènements déjà proposés
			</h2>
			<p class="pb-5 m-0">
				Ce que nous proposons est unique, une expérience de vie incroyable, car nos wilfers sont grandement
				qualifiés pour les situations situées ci-dessous. <br>
				La bienveillance de notre équipe sera la pour vous faire vivre un agréable moment 
				tout au long de votre séjour en la compagnie d'un gentleman agréé. <br>
				Nos wilfers ont été formés pour
				vous aider et accompagner dans toutes ces situations, mais surtout vous rendre unique.<br>
				Nous espérons que vous percevrez cette expérience comme un rêve éveillé, 
				mais que vous pouvez dirigé et réitérer à volonté.
			</p>
		</div>
	</section>
	<section class="container py-5 px-0">
		<div class="d-flex justify-content-xl-between justify-content-lg-around flex-wrap justify-content-center">
			{% for entertainement in entertainements %}
				<div class="box-card d-flex justify-content-center my-3 col-lg-5 col-11 m-3 px-0">
					{% for image in entertainement.entertainementImages %}
						<img style="width:100%; height:auto" class="img-card" src="{{ asset('uploads/entertainementsImages/' ~ image.name ) }}" alt="">
					{% endfor %}
					<div class="text-card px-3 py-3">
						<h2 class="h4">{{ entertainement.name }}</h2>
						{{ entertainement.description | raw }}
					</div>
					<div class="text-card-cover text-center">...</div>
				</div>
			{% endfor %}
		</div>
	</section>

	<section class="section4 py-5 px-3">
		<div class="container">
			<div class="text-center">
				<h2 class="mb-3">Processus de pré-accompagnement</h2>
				<p class="font-italic text-secondary">Vous êtes entre de très bonnes (et douces) mains
				</p>
				<p>
					Pour mieux vous situer, voici une énumération des étapes par lesquelles vous passerez, du choix du
					wilfer
					jusqu'à la rencontre de celui-ci.
				</p>
			</div>
			<div class="row d-flex justify-content-around flex-wrap">

				<div class="card-process col-lg-5 col-10 p-2 m-2 d-flex flex-column align-items-center">
					<div class="bulle bulle1 my-3 d-flex justify-content-center align-items-center">
						<img src="{{ asset('build/images/img2.jpg') }}" alt="">
					</div>
					<h3 class="text-center mb-3">Déterminer son besoin</h3>
					<p>
						A travers notre liste non exhaustive des différents types d'évènements dans lesquels nos wilfers
						pourraient vous accompagner.
						Il vous faudra bien penser à votre situation pour qu'on puisse par la suite
						détemriner le meilleur wilfer pour vous
					</p>
				</div>

				<div class="card-process col-lg-5 col-10 p-2 m-2 d-flex flex-column align-items-center">
					<div class="bulle bulle2 my-3 d-flex justify-content-center align-items-center">
						<img src="{{ asset('build/images/img1.jpg') }}" alt="">
					</div>
					<h3 class="text-center mb-3">Choisir son
						<span class="text-primary font-italic">wilfer</span>
					</h3>
					<p>
						Parmis tous notre catalogue de gentleman, vous pouvez choisir celui qui vous correspond le
						mieux.
						Une description détaillé de votre prince vous aidera à faire votre choix, selon son
					</p>
				</div>

				<div class="card-process col-lg-5 col-10 p-2 m-2 d-flex flex-column align-items-center">
					<div class="bulle bulle3 my-3 d-flex justify-content-center align-items-center">
						<img src="{{ asset('build/images/img3.jpg') }}" alt="">
					</div>
					<h3 class="text-center mb-3">Ecrire vos envies</h3>
					<p>
						Notre premier échange se fera par mail où vous me décrirez avec plus de précisions vos envies et
						besoins à travers notre agence. Aussi bien pour un wilfer que sur votre situation.
					</p>
				</div>

				<div class="card-process col-lg-5 col-10 p-2 m-2 d-flex flex-column align-items-center">
					<div class="bulle bulle4 my-3 d-flex justify-content-center align-items-center">
						<img src="{{ asset('build/images/img4.jpg') }}" alt="">
					</div>
					<h3 class="text-center mb-3">Echange téléphonique</h3>
					<p>
						L'échange le plus important car c'est à ce moment que nous détaillerons le fond du sujet pour
						vous proposer le meilleur accompagnement personnalisé.
					</p>
				</div>

			</div>
		</div>
	</section>

	<section class="section5 py-5 px-3">
		<div class="container text-center">
			<h2 class="mb-3">Et si vous avez des questions ?</h2>
			<p>
				Pour vous rassurer et vous mettre plus à l'aise avec notre concept, faites un tour sur notre
				<a class="strong" href="{{ path('faq') }}">FAQ</a>
				<br>
				Vous y trouverez les réponses à vos questions ;)
			</p>
		</div>
	</section>
{% endblock %}

{% block javascripts %}
	<script>
		let clipath = document.querySelector('.clipath');

		window.addEventListener("scroll", function () {
			let value = ((window.scrollY / 12)-10);
			clipath.style.clipPath = 'polygon(0 0, ' + (20 + value) + '% 0, '+ (value) + '% 100%, 0% 100%)';
		});

		const textCards = document.querySelectorAll('.text-card');

		textCards.forEach(card => {
			card.addEventListener('mouseover', () => {
				card.nextElementSibling.innerHTML = ""
				card.style.maxHeight = "100%"; 
			})
			card.addEventListener('mouseleave', () => {
				setTimeout(function() {card.nextElementSibling.innerHTML = "..."}, 1000);
				card.style.maxHeight = "20%"; 
			})
		});
	</script>
{% endblock %}