{% extends 'layout.html.twig' %}
{% form_theme registrationForm 'bootstrap_4_layout.html.twig' %}

{% block title %}Formulaire d'enregistrement | Wilfer Agency{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('contact') }}
{% endblock %}

{% block body %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}

    <section class="container pb-5">
        <h1 class="text-center my-5">Créer un compte</h1>

        <div class="form p-3">
            {{ form_start(registrationForm) }}
            {{ form_row(registrationForm.email) }}
            {{ form_row(registrationForm.plainPassword, {
                label: 'Mot de passe'
            }) }}
            {{ form_row(registrationForm.agreeTerms, {
                label: 'Accepter les termes'
            }) }}
            <div class="btn-form">
                <button class="btn btn-primary" type="submit">
                    Enregistrer
                </button>
            </div>
            {{ form_end(registrationForm) }}
        </div>
    </section>

{% endblock %}
