{% extends 'layout.html.twig' %}
{% form_theme searchWilfer 'bootstrap_4_layout.html.twig' %}

{% block title %}Notre catalogue de gentlemen wilfers
{% endblock %}

{% block stylesheets %}
	{{ encore_entry_link_tags('wilfers') }}
{% endblock %}

{% block body %}
	<section class="background-wilfers">
		<div class="background-wilfers-image"></div>
	</section>

	<section class="wilfers container pb-5">
		<h1 class="text-center my-4 h2">Notre catalogue de
			<span class="text-primary font-italic ">
				wilfers
			</span>
			gentlemen</h1>

		<div class="search-div mb-2">
			{{ form_start(searchWilfer) }}
			{{ form_widget(searchWilfer) }}
			<div class="d-inline-flex">
				<div class="btn-search mr-2">
					<button class="btn btn-primary">Rechercher</button>
				</div>
				<div class="btn-reini d-flex align-items-center">
					<a class="btn" href="{{ path('wilfers') }}">Réinitialiser</a>
				</div>
			</div>
			{{ form_end(searchWilfer) }}
		</div>

		<div class="d-flex flex-wrap justify-content-lg-around justify-content-center">
			{% for wilfer in wilfers %}
				{% set wilferAge = ((date('now') | date('Y')) - (wilfer.birthAt | date('Y'))) %}
				<div class="wilfer p-0 my-3 col-lg-5 col-10 d-flex flex-sm-row flex-column">
					<div class="div-heart-icon">
						{% if app.user %}
							<a href="{{ path("wilfer_favorites", {id: wilfer.id}) }}" id="favoritesWilfers">
								{% if app.user.isInFavoritesWilfer(wilfer) == true %}
									<img src="{{ asset('build/images/full-heart.jpg') }}" class="heart-icon">
								{% else %}
									<img src="{{ asset('build/images/empty-heart.jpg') }}" class="heart-icon">
								{% endif %}
							</a>
						{% endif %}
					</div>
					{% if wilfer.wilferImages | length > 0 %}
						<div class="d-flex justify-content-center align-items-center m-2 wilfer-div-picture">
							<img src="{{ asset('uploads/wilfersImages/' ~ wilfer.wilferImages[0].name) }}" alt="" class="rounded wilfer-picture">
						</div>
					{% else %}
						<div class="d-flex justify-content-center align-items-center m-2 wilfer-div-picture">
							<img src="" alt="Selfie of the wilfer {{ wilfer.firstname ~ ' ' ~ wilfer.lastname }}">
						</div>
					{% endif %}
					<div class="d-flex flex-column justify-content-around p-lg-2 p-4 wilfer-div-text">
						<h2 class="mb-2 h4 text-info">{{ wilfer.firstname }}
							<span class="text-primary">{{ wilfer.lastname }}</span>
						</h2>
						<p class="mb-0">
							<span class="text-info">{{ wilfer.birthAt|date("m/d/Y") }}
								-
							</span>
							<span class="text-primary">{{ wilferAge }}
								ans</span>
						</p>
						<p class="mb-2 text-info">
							"<i class="text-primary">{{ wilfer.description }}</i>"
						</p>
						<a class="btn" style="width:165px;" href="{{ path('wilfer_id_show', {'id': wilfer.id}) }}" style="width:auto;">En savoir plus</a>
					</div>
				</div>
			{% endfor %}
		</div>
	</section>
{% endblock %}


{% block javascripts %}
	{{ parent() }}

	<script>
		let btnToFavorites = document.querySelectorAll("#favoritesWilfers")

btnToFavorites.forEach(element => {
element.addEventListener('click', addToFavoritesWilfers);
});

function addToFavoritesWilfers(event) {
event.preventDefault();
fetch(this.getAttribute('href'))

if (event.currentTarget.firstElementChild.getAttribute('src') == "{{ asset('build/images/full-heart.jpg') }}") {
event.currentTarget.firstElementChild.setAttribute('src', "{{ asset('build/images/empty-heart.jpg') }}")
} else {
event.currentTarget.firstElementChild.setAttribute('src', "{{ asset('build/images/full-heart.jpg') }}")
}
}
	</script>
{% endblock %}
