{% extends "base.html.twig" %}

{% block body %}
	<style>
		p {
			margin: 0;
		}
	</style>
	<section class="container">
		<h1 class="my-3">
			<span class="text-primary">WILFER</span>
			AGENCY</h1>
		<p class="mb-3 h4">Mail recu pour le site via le formulaire de contact</p>

		<p class="font-weight-bold">Emetteur :</p>
		<ul style="list-style: none;">
			<li>Monsieur Madame
				{{ app.user.firstname }}
				{{ app.user.lastname }}</li>
			<li>Email
				{{ '<' }}
				{{ app.user.email }}
				{{ '>' }}</li>
		</ul>

		<p class="font-weight-bold">Message :</p>
		<p>
			"Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit suscipit officiis, dolor itaque, delectus ducimus nihil illum, corrupti sint atque quos minus magni. Quidem inventore vero incidunt minima quas quasi similique quo eius asperiores iusto numquam, ut quod dolorem ad deserunt nostrum debitis molestias laudantium error, sed sint totam eum?"
		</p>

        <p>Type d'évènement</p>
        <p class="mb-2">Marriage</p>

        <p>Wilfer(s) choisi(s)</p>
        <p></p>

	</section>
{% endblock %}
