{% extends 'layoutAdmin.html.twig' %}

{% block title %}Modifier le commentaire {{ comment.id }}{% endblock %}

{% block stylesheets %}
	{{ encore_entry_link_tags('admin') }}
{% endblock %}


{% block body %}
	<section class="container py-5">
		<h1 class="text-center pb-5">Modifier le commentaire <strong class="font-italic text-primary">{{ comment.id }}</h1>
        {{ include('admin_comment/_form.html.twig', {'button_label': 'Enregistrer les modifications', 'class': 'btn btn-warning'}) }}

        <a href="{{ path('admin_dashboard') }}" class="btn btn-danger mt-3">Retour au dashboard</a>
    </section>
{% endblock %}